* {
    box-sizing: border-box;
}
header.header-container {
    height: 70px;
    width: 1626px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
    margin-bottom: 138px;
}
.header-container .header-intro {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-nav-list {
    display: flex;
    margin-right: 136px;
}
.page-nav-list li {
    margin-left: 95px;
}
a.page-logo {
    text-decoration: none;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0;
    color: #08A6E4;
    opacity: 1;
    margin-left: 136px;
}
.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    opacity: 1;
    height: 100%;
}
.page-nav-list a:hover {
    font-weight: bold;
    font-size: 11px;
    color: #000000;
}

/*
DODAĆ NIEBIESKIE PODKREŚLENIE PO NAJECHANIU NA ELEMENTY NAWIGACJI*/

main.main-container {
    display: flex;
    height: 704px;
    background: url("../assets/Background.png") no-repeat bottom;
}
div.main-intro {
    display: block;
    width: 100%;
}
h1.page-tittle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-size: 49px ;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}
span.page-tittle-span {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
}
button.page-tittle-button {
    display: flex;  /*BUTTON NIE CHCE SIE USTAWIC NA SRODKU*/
    background: #08A6E4 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
    padding: 22px 157px 23px 157px;
}
button.page-tittle-button a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-family: "Open Sans",sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
section.section1-container {
    width: 100%;
}
